$theme-colors: (
// #14 - Senior
  'cat1-primary': #A4776D,
  'cat1-secondary': #864839,
  'cat1-tertiary': #D7C1BD,
  'cat1-fourthy': #3D4B28,
  'cat1-fifthy': #864839,
  'cat1-background': #3D4B28,
// #6 - Pets
  'cat2-primary': #A18D51,
  'cat2-secondary': #1C3027,
  'cat2-tertiary': #BCBFB0,
  'cat2-fourthy': #797967,
  'cat2-fifthy': #3B5D3D,
  'cat2-background': #A18D51,
// #3 - Familes
  'cat3-primary': #D6A55B,
  'cat3-secondary': #882B22,
  'cat3-tertiary': #DDD7CE,
  'cat3-fourthy': #322419,
  'cat3-fifthy': #25372A,
  'cat3-background': #864839,
// Regular
  'taupe': #ebe1c9,
  'ocre': #c88d21,
  'secondary': #e9ecef,
  'dk-taupe': #2d2c27,
  'green': #017b68,
  'red': #86759f,
  'tertiary': #e00033,
  'blue': #01677c
);
$font-family-base: 'Nunito', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.list-group-item + .list-group-item {
  border-top-width: 4px;
}